// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movie-app-01-primary: mat.define-palette(mat.$deep-purple-palette);
$movie-app-01-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movie-app-01-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movie-app-01-theme: mat.define-light-theme((
        color: (
                primary: $movie-app-01-primary,
                accent: $movie-app-01-accent,
                warn: $movie-app-01-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($movie-app-01-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Inter', sans-serif;
}

.mat-drawer-container {
  min-height: 100vh;
  background: #fff !important;
}

mat-toolbar {
  background-color: #fff !important;
  // border-bottom: 1px solid rgba(0, 0, 0, .12);
}

mat-toolbar-row:first-child {
  padding-top: 16px;
}

mat-toolbar-row:last-child {
  height: 48px;
}

.flex-spacer {
  flex: 1 0 auto;
}

form {
  display: flex;
  align-items: center;
  width: 512px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 0 8px 0 24px;
  border-radius: 32px;

  button {
    background-color: #000 !important;
    color: #fff !important;
  }
}

.app-title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  margin-left: 16px;
}

input {
  outline: none;
  border: none;
  padding: 0;
  background: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

button[mat-button] {
  font-family: Inter, sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 0 8px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 24px 64px;
  box-sizing: border-box;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
}

.item img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.item-details {
  padding: 12px 0;
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  text-align: center;

  .tag {
    margin-right: 4px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .5px;
  }
}

.item-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  padding: 4px 0;
}

.filter {
  padding: 0 0 24px;
}
